<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.davidrueter.shenanigans.PcapHelperTool</string>
	<key>StandardOutPath</key>
	<string>/var/log/shenanigans.log</string>
	<key>MachServices</key>
	<dict>
		<key>com.davidrueter.shenanigans.PcapHelperTool</key>
		<true/>
	</dict>
</dict>
</plist>
